
body {
    background-color: black;
}

/*styling the separators */
hr {
  clear: left;
  width:60%;
  margin-top: 100px;
  margin-bottom: 100px;
	float: center;
  

}

iframe{
	border:none;

}

h1{
    
    color: white;
    font-family: "Avenir";
    letter-spacing: 8px;
    line-height: 1.8;

}

h1.title{
  text-align: center;    

}

h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;

}
p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
  }


div.sticky {
  position: -webkit-sticky;
  width: 8%;
  position: sticky;
  bottom: 0;
  padding: 100px;
  float: right;
}


:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(var(--header-outer-height) - var(--header-inner-height));
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
	--header-bg: #fff;
  --bright-color: #5fdbe6;
}


.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}


  /* making a class for small images like bios */
  .img-small {
    width: 50%;


  }
/* Sticky header */

/* contains two elements: an outer and inner container. 
The outer container is taller than the inner, */


/* outer container has a negative top value equal to the height difference  between the containers. 
This causes the outer container to stay in place while the inner container stays with the viewport.*/
.header-outer {
	/* Make it stick */
	height: var(--header-outer-height);
	position: sticky;
	top: calc(
		var(--header-height-difference) * -1
	); /* Multiply by -1 to get a negative value */
	display: flex;
	align-items: center;

	/* Other */
	background-color: black;

}

/* by using "position: sticky" on both the outer and inner container, the outer  will 
stick to the body, and the inner container sticks to the outer .*/

/*the inner must be vertically centered */
.header-inner {
	/* Make it stick */
	height: var(--header-inner-height);
	position: sticky;
	top: 0;

	/* Other */
	display: flex;
	align-items: center;
	justify-content: space-between;
}






/* make video full height and width */
.videot {
    width: 100%    !important;
    height: 100%   !important;
 }

   
 /* Create two unequal columns */


.columns {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 400px;
    text-align: left;
}
 .column {
    float: left;
    margin-bottom: 100px;
  }
  /* smaller column */
  .column.small {
    margin-right: 25px;
    margin-left: 25px;
    width: 40%;
  }
  /* bigger column */
  .column.big {
    margin-right: 25px;
    margin-left: 25px;
    width: 50%;
    
  }




/* Create four equal columns that floats next to each other, pattern for buttons, reviews and actor bios */
.fourcolumn {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 100px;
  }
.fourcolumn.first {
    clear: left;
    
  }
  


/* create buttons */
  .glowing-btn {
    /*playing around with styles to match the other elements*/
    color: var(--bright-color);
    cursor: pointer;
    padding: 1em 1em;
    border: 0.15em solid var(--bright-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Avenir", sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1em;
    line-height: 1.8;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color); 
    
  }
  
  .glowing-txt {
    float: left;
    margin-right: -.1em;
    margin-left: .8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--bright-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--bright-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--bright-color);
    
  }
  

  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--bright-color
    );
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--bright-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  






  #scrollToTopBtn {

    color: var(--bright-color);
    cursor: pointer;
    padding: 1em .5em;
    border: 0.15em solid var(--bright-color);
    border-radius: 0.45em;
    perspective: 2em;
    
background: url("img/back_to_top.png") no-repeat;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color); 
    
  }
  
  
  
  #scrollToTopBtn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    pointer-events: none;
  }
  
  #scrollToTopBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--bright-color);
  }
  
  #scrollToTopBtn:hover {
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
    animation: none;
	opacity: 1;
background: url("img/back_to_top_after.png") no-repeat;
  }
  
  #scrollToTopBtn:hover .glowing-txt {
    animation: none;
  }
  

    
  }
  
  #scrollToTopBtn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  #scrollToTopBtn:hover:after {
    opacity: 1;
  }






  /* footer design */

.footer{
    clear: left;
    background:#000;
    padding:30px 0px;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: var(--bright-color);
    font-family: "Avenir";
    letter-spacing: 8px;
    line-height: 1.8;

    font-size:1.5em;
    }
    


/* Responsive layout codes here so you can see how it plays on different devices */


    @media only screen and (max-width: 600px) {
        .glowing-btn{
          font-size: 1em;
        }
        .footer{
            text-align:left;
            padding:5%;
            }
      }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.small, .column.big {
      width: 100%;
      
    }
}





/* create image gallery image*/

#image-gallery { 
  width: 500px; 
  margin: 0 auto;
}

#image-thumbs { 
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
}

.thumb { 
  width: 70px; 
  height: 70px; 
  object-fit: cover; 
  margin-right: 10px; 
  cursor: pointer;
}

/* a style hover effect for the borders of images */
.border img {
transition: .5s ease;
}

.border img:hover{
	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color);
    box-shadow: inset 0px 0px 2em 0px var(--bright-color),
      0px 0px 0.5em 0px var(--bright-color); 
	transition: .5s ease;
}























